Pillow==10.3.0
SQLAlchemy==2.0.30
aiohttp==3.9.5
dateparser==1.2.0
enkacard==3.3.8
lxml==5.2.1
py-cord==2.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rapidfuzz==3.9.0
tenacity==8.2.3
setuptools==69.5.1

# GenshinPy lib
genshin@git+https://github.com/thesadru/genshin.py.git@20067d558c6dab7ee9eb7c7e65e48b63f71f6fcf#egg=genshin
pydantic==2.7.1
qrcode[pil]

# Enka.network profiles
enkacard==3.3.8
