Pillow==9.0.0
SQLAlchemy==1.4.31
aiohttp==3.8.1
dateparser==1.1.0
genshin==0.3.1
lxml==4.7.1
py-cord@git+https://github.com/Pycord-Development/pycord.git#egg=py-cord@d35b663938f8cc72c5c2f67af888818f9971afa7
python-dateutil==2.8.2
pytz==2021.3
rapidfuzz==1.9.1
tenacity==8.0.1
setuptools==60.5.0